<li class="each-post" id="post-<%=post._id%>">
    <p>
        <%=post.content%>
    </p>
    <small>
        <%=post.user.name%>
    </small>
    <br>
    <!-- study about the data attribute -->
    <small>
        <% if (locals.user){ %>
        <a class="toggle-like-button" data-likes="<%= post.likes.length %>"
            href="/likes/toggle/?id=<%=post._id%>&type=Post">
            <%= post.likes.length %> Likes
        </a>
        <% }else{ %>
        <%= post.likes.length %> Likes
        <% } %>
    </small>
    <%if((locals.user)&&(locals.user.id==post.user.id)){%>

    <a class="delete-post-button" style="text-decoration: none; color: cornsilk;"
        href="/posts/destroy/<%=post._id%>"><button style="background-color: brown; ">Del</button>
    </a>

    <%}%>

    <div class="post-comments">
        <%if(locals.user){%>
    <form id="post-<%= post._id %>-comments-form" action="/comments/create/" method="post">
        <textarea name="content" id="new-comment-content" cols="20" rows="2" placeholder="Type here...">
                                        </textarea>
        <input type="hidden" name="post" value="<%=post._id%>">
        <input type="submit" value="Add Comment">
    </form>
    <%}%>
            <div class="display-comments">
                <ul id="post-comments-<%=post._id%>">
    <%for(comment of post.comments){%>
    <%-include('_comment')-%>
    <%}%>
                </ul>
            </div>
        
    </div>
</li>