<title>
    <%= title  %>
</title>
<link rel="stylesheet" href="/css/home.css">
<h1>
    Flock / <%= title %>
</h1>
<section id="feed-posts">
    <h4>Posts</h4>
    <%if(locals.user){%>
        <!-- <button id="#add">+ Add Post</button> -->
    <form action="/posts/create" id="new-post-form" method="post">
        <textarea name="content" id="new-post-content" cols="30" rows="4" aria-placeholder="Type here..."></textarea>
        <input type="submit" value="Post">
    </form>
    <%}%>
    <div id="posts-displayed">
            <ul>
                <%for(post of posts){%>
                    <li class="each-post">
                        <p>
                            <%=post.content%>
                        </p>
                        <small>
                            <%=post.user.name%>
                        </small>
                       

                    <div class="post-comments">
                        <%if(locals.user){%>
                        <form action="/comments/create" id="new-comment-form" method="post">
                            <textarea name="content" id="new-comment-content" cols="20" rows="2" placeholder="Type here...">
                                                    </textarea>
                            <input type="hidden" name="post" value="<%=post._id%>">
                            <input type="submit" value="Add Comment">
                        </form>
                        <%}%>

                                <div class="display-comments">
                                    <ul id="post-comments-<%=post._id%>">
                                        <%for(comment of post.comments){%>
                                        <li>
                                            <p>
                                                <%=comment.content%>
                                            </p>
                                            <small>
                                                By
                                                <%=comment.user.name%>
                                            </small>    
                                        </li>
                                          <%}%>
                                    </ul>
                                 </div>
                     </div>
                </li>
                <%}%>
            </ul>

    </div>
</section>