<title>
    <%=title%>
</title>
<link rel="stylesheet" href="/css/home.css">
<%-include('_aside_sec');%>
<div id="home">
    <h1>F E E D</h1>
    <div id="main-content">

        <section style="background: transparent;" id="feed-posts">
            <section style="width: 100%;">
                <% if(locals.user){ %>
                <div id="post-form-container" style="background: transparent;" class="each-post">
                    <img style="display: inline-block"; src="<%=user.avatar%>" alt="<%=user.name%>" width="100">
                    <form style="display: inline-block;" action="/posts/create" id="new-post-form"
                        method="POST">
                        <textarea style="background-color:transparent;color: aliceblue;" name="content" cols="30" rows="3"
                            placeholder="Type Here..." required></textarea>
                        <input style="margin-left: 150%;"; type="submit" value="Post">
                    </form>
                </div>
                <% } %>
            </section>

            <div id="posts-displayed">
                <ul>
                    <% for(post of posts){ %>

                    <%- include('_post') -%>

                    <%} %>
                </ul>
            </div>
        </section>
    </div>
    <%-include('_aside_sec2');%>
</div>
<!-- importing this script for creating the comments -->
<script src="/js/home_comments.js"></script>
<script src="/js/home_posts.js"></script>

<script src="js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function () {
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>