<title><%=profile_user.name%></title>
<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Flock User's / Profile Page
</h1>
<img id="profile-pic" src="<%=profile_user.avatar%>" alt="<%=user.name%>" width="100">
<div class="profile-container">

    <p>
        Name = <%=profile_user.name%>
    </p>
    <p>
        Email = <%=profile_user.email%>
    </p>
    <%if(locals.user.id==profile_user.id){%>
    <a href="/users/profile/edit/<%=profile_user.id%>">
        <button>Edit Profile</button>
    </a>
    <%}%>
</div>